---
export interface Props {
  title: string;
  description?: string;
}

const { title, description = "Company website for Mike Make Game" } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-background text-foreground font-sans">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <style>
      html { scroll-padding-top: 3.5rem; } /* = header height */
    </style>

    <!-- Preconnects -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://api.fontshare.com" crossorigin />

    <!-- Fonts -->
    <link href="https://api.fontshare.com/v2/css?f[]=chillax@500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&display=swap" rel="stylesheet" />

    <!-- Favicons -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- TODO: Add apple-touch-icon and site.webmanifest -->

    <!-- Open Graph / Twitter -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <!-- TODO: Add og:image -->
  </head>

  <body>
    <slot />
  </body>
</html>